h1{
    text-align: center;
    font-size: 75px;
    color: #ffffff;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #353535;
    background: #d3d3d3;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 30px;
    border-bottom: 3px solid #ffffff;
    border-top: 3px solid #ffffff;
    font-family: 'Titan One', cursive, 'Times New Roman', Times, serif; 
}

.gamePlayDiv{
    background: #ffffff;
    width: 700px;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #d3d3d3;
    overflow: auto;
    z-index: 1;
}

p {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
}

.trueFalseContainer{
    display: flex;
    justify-content: center;
}

.trueFalseContainer > button { 
  margin: 5px;
  font-size: 24px;
  border-radius: 15px;
  padding: 10px;
  background: #d3d3d3;
}

button:hover {
    background: #f8c845;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#tryAgainButton {
    display: none;
}

.vector{
    position:fixed;
    bottom:10px;
    right:0px;
    height:20px;
    width:250px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

body{
    background-image: url(../images/dogBackground.jpg);
    background-size: 25% ;
}

@media screen and (max-width: 425px){
    h1{
        font-size: 100px;
        margin-top: -8px;
    }

    .gamePlayDiv{
        max-width: 320px;
        margin-top: -40px;
    }

    p {
       font-size: 30px;
    }
    .vector{
        display: none;
    }
}